.highlight .language-text { 
  display: block; 
  overflow:scroll; 
  color: #56a69d; 
  background-color: #1E1E1E; 
  padding-left: 10px; 
  font-style: 13px;
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
}

.highlight .language-console { 
  display: block; 
  overflow:scroll; 
  color: #56a69d; 
  background-color: #1E1E1E; 
  border: 2px solid #cd853f;
  border-left: 4px solid #cd853f; 
  padding-left: 10px; 
  font-style: 13px; 
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace; 
}

h1 {
  color: #990033;
}
h2 {
  color: #00007F;
}

p {
  font-size: large;
}

#toc ul { 
  list-style-type: none; 
}

#toc ul ul { 
  list-style-type: disc; 
}
