.highlight .language-text { 
  display: block; 
  overflow: scroll; 
  color: #56a69d; 
  border-radius: 10px;
  background-color: #1e1e1e; 
  padding: 15px; 
  font-style: 13px;
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
}

.highlight .language-text::first-letter {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select:none;
  color: red;
}

.highlight .language-console { 
  display: block; 
  overflow: scroll; 
  color: #56a69d; 
  background-color: #1e1e1e; 
  border-left: 5px solid #a2957b; 
  padding: 15px; 
  font-style: 13px; 
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace; 
}

body {
  color: #333;
}

h1 {
  color: #990033;
}
h2 {
  color: #00007F;
}

p {
  font-size: large;
}

#toc ul { 
  list-style-type: none; 
}

#toc ul ul { 
  list-style-type: disc; 
}
